* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-template-rows: 100vh;
  font-family: 'Lemon', cursive;
}

.nav {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-size: 30px;
  height: 100%;
  background-color: #DDD3C9;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.nav__wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
}

.nav__wrapper:first-child {
  background-color: rgba(0, 0, 0, 0.1);
}

.main {
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  padding: 50px;
  background-color: #DDD3C9;
}

.main .goose {
  display: none;
  position: absolute;
  top: 50%;
  left: -25%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 30%;
  z-index: 100;
}

.main .day,
.main .week,
.main .month,
.main .year {
  position: relative;
  display: none;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  grid-template-rows: .1fr 1fr;
}

.main .prevMonsDays,
.main .nextMonsDays {
  opacity: .5;
}

.main .today {
  width: 100%;
  height: 100%;
  background-color: #a5c5ccc9;
}

.main .weekdays {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 700;
}

.main .weekdays div {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main .miniMonth {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  grid-template-rows: .2fr 1fr;
  width: 300px;
  height: 350px;
  -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 55px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  z-index: 5;
}

.main .miniMonth__header {
  display: grid;
  grid-template-columns: .2fr 1fr .2fr .2fr;
  background-color: #a5c5ccc9;
}

.main .miniMonth__header .miniMonth-chevron-right {
  grid-column: 3 / 4;
}

.main .miniMonth__header .fa-times,
.main .miniMonth__header .miniMonth-chevron-left,
.main .miniMonth__header .miniCurDate,
.main .miniMonth__header .miniMonth-chevron-right {
  display: grid;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.main .miniMonth__body {
  display: grid;
  grid-template-rows: .15fr 1fr;
  padding: 10px;
}

.main .miniMonth__days {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
}

.main .miniMonth__days div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .miniMonth__days div:hover {
  cursor: pointer;
  background-color: #969696;
}

.main .day {
  display: grid;
  grid-template-rows: .15fr 1fr;
}

.main .day__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #a5c5ccc9;
}

.main .day__header .data {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main .day__header .curDate {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 25px;
}

.main .day__header .curDate i {
  margin: 0 15px 0 0;
}

.main .day__header .addTask {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
  padding: 10px 100px 10px 20px;
}

.main .day__header .addTask i {
  font-size: 25px;
}

.main .day__header .addTask:hover {
  cursor: pointer;
}

.main .day__body {
  display: grid;
  grid-template-rows: 1fr .5fr;
  padding: 50px;
}

.main .day li {
  display: grid;
  grid-template-columns: .1fr 1fr .2fr .1fr;
  font-family: 'Lemonada', cursive;
  list-style: none;
  margin: 0 0 5px;
}

.main .day li .fa-trash-alt {
  cursor: pointer;
}

.main .day li .fa-trash-alt:hover {
  font-size: 18px;
  color: red;
}

.main .day li .checkbox {
  display: grid;
  align-self: center;
  justify-self: center;
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #696969;
  border-radius: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  -o-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  margin: 0 10px 0 0;
}

.main .day li .checkbox::before {
  position: absolute;
  content: '';
  top: 1.5px;
  left: 7px;
  width: 4px;
  height: 10px;
  border-style: solid;
  border-color: #DDD3C9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .day li .checkbox:checked {
  border-color: #a5c5ccc9;
  background: #a5c5ccc9;
}

.main .day li .checkbox:checked::before {
  opacity: 1;
}

.main .day li .checkbox:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.main .day li label {
  cursor: pointer;
}

.main .day li label::before {
  position: absolute;
  content: attr(data-content);
  color: #b3b3b3;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  -webkit-transition: -webkit-clip-path 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-clip-path 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: clip-path 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-clip-path 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main .day li .delete,
.main .day li .deadline {
  position: relative;
  display: grid;
  align-self: center;
  justify-self: end;
}

.main .week {
  display: none;
  grid-template-rows: .15fr 1fr;
}

.main .week__header {
  display: grid;
  background-color: #a5c5ccc9;
  grid-template-columns: .5fr 1fr .5fr;
}

.main .week__header .fa-chevron-right {
  grid-column: 3 / -1;
}

.main .week__header .curWeek,
.main .week__header .week-chevron-left,
.main .week__header .week-chevron-right {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.main .week__header .week-chevron-left,
.main .week__header .week-chevron-right {
  cursor: pointer;
  padding: 10px 25px;
  font-size: 25px;
}

.main .week__header .curWeek {
  font-size: 25px;
}

.main .week__body {
  padding: 25px;
}

.main .month {
  display: none;
  grid-template-rows: .3fr 1fr;
}

.main .month__header {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: #a5c5ccc9;
}

.main .month__header i {
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  padding: 25px;
  font-size: 25px;
}

.main .month__header .fa-chevron-right {
  grid-column: 4 / -1;
}

.main .month__header .curMonth,
.main .month__header .curYear {
  justify-self: center;
  grid-column: 2 / 4;
}

.main .month__header .curMonth {
  grid-row: 1 / 3;
  align-self: end;
  font-size: 28px;
}

.main .month__header .curYear {
  grid-row: 3 / -1;
  align-self: center;
  justify-self: center;
  font-size: 20px;
}

.main .month__body {
  display: grid;
  grid-template-rows: .1fr 1fr;
  padding: 25px;
}

.main .month__days {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.main .month__days div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .month__days div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.main .year {
  display: none;
  grid-template-rows: .15fr 1fr;
}

.main .year__header {
  background-color: #a5c5ccc9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main .year__header i,
.main .year__header div {
  display: grid;
  align-self: center;
  justify-self: center;
}

.main .year__header i {
  cursor: pointer;
  padding: 15px 15px;
  font-size: 25px;
}

.main .year__header div {
  font-size: 35px;
}

.main .year__body {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.main .year__body .yearMonth {
  display: grid;
  grid-template-rows: .1fr 1fr;
  padding: 10px;
}

.main .year__body .yearMonth__month {
  font-weight: 700;
  text-align: center;
}

.main .year__body .yearMonth__body {
  display: grid;
  grid-template-rows: .1fr 1fr;
}

.main .year__body .yearMonth__body .weekdays {
  font-weight: 300;
  font-size: 14px;
}

.main .year__body .yearMonth__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.main .year__body .yearMonth__days div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 13px;
}

.main .year__body .yearMonth__days div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.main .year__body .yearMonth__days .nextMonsDays,
.main .year__body .yearMonth__days .prevMonsDays {
  color: transparent;
}

.addModal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.addModal__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr .2fr .5fr;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35%;
  height: 60%;
  -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 55px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  padding: 30px;
}

.addModal__wrapper button,
.addModal__wrapper input {
  cursor: pointer;
}

.addModal__wrapper textarea {
  grid-column: 1/-1;
  padding: 20px;
  resize: none;
}

.addModal__wrapper .deadlinTxt {
  align-self: center;
  justify-self: center;
  grid-column: 1/3;
}

.addModal__wrapper .btnAdd {
  grid-column: 1/3;
}

.addModal__wrapper .btnCancel {
  grid-column: 3/-1;
}

.addModal__wrapper .time {
  grid-column: 3/-1;
  padding: 0 15px;
}